# === SEP Local — Variables de Entorno ===

# Backend
BACKEND_PORT=4000
NODE_ENV=development

# Oracle Database
ORACLE_USER=SEPLOCAL
ORACLE_PASSWORD=SenaSep2026
ORACLE_CONNECT_STRING=oracle-xe:1521/XEPDB1

# JWT
JWT_SECRET=CAMBIAR_EN_PRODUCCION_64_CHARS_MINIMO

# Frontend
VITE_API_URL=http://localhost:8080/api
